/* add your CSS here */
#logo-header {
  display: inline-block;
  max-width: 300px;
  height: auto;
  vertical-align: middle;
}

#slogan {
  display: inline-block;
  color: #e6e3e3;
  vertical-align: middle;
  font-size: 100px;
}

#banner {
  padding: 30px;
  background: #e6e3e3;
  background: linear-gradient(
    98deg,
    rgba(230, 227, 227, 1) 0%,
    rgba(110, 106, 106, 1) 29%,
    rgba(61, 61, 61, 1) 100%
  );
  text-align: center;
}

footer {
  height: 300px;
  background-color: #3d3d3d;
  text-align: center;
  vertical-align: middle;
}

#footer-text {
  color: #e6e3e3;
  font-size: 20px;
  padding-top: 80px;
}

#footer-logo {
  max-width: 100px;
  display: inline-block;
  vertical-align: middle;
  margin: 30px;
}

#contact-info {
  color: #e6e3e3;
  font-size: 18px;
  display: block;
}
#contact-info a {
  color: #e6e3e3;
  text-decoration: none;
}

#contact-info a:hover {
  text-decoration: underline;
}

h1, p, a {
  font-family: sans-serif;
}

nav {
  background-color: #3d3d3d;
  display: inline-block;
  width: 100%;
  position: sticky;
}


nav a {
  float: left;
  color: #e6e3e3;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
  background-color: #3d3d3d;;
}

nav a:hover {
  background-color: #e6e3e3;
  color: #3d3d3d;
}