#scroll-progress {
  position: fixed;
  top: 0;
  left: 0;
  height: 5px;
  background-color: #f39c12;
  z-index: 9999;
  width: 0%;
  display: none;
}

@media (max-width: 900px) {
  #scroll-progress {
    display: block;
    animation: scroll-progress-animation auto linear;
    animation-timeline: scroll(root block);
  }

  @keyframes scroll-progress-animation {
    from {
      width: 0%;
    }
    to {
      width: 100%;
    }
  }
}
